#Title
{
    text-align: center;
}

#ContentBox
{    
    width: 1000px;
    height: 250px;
    margin:auto;
    background-color: bisque;
    text-align: left;
}

#SubTitle
{
    color: rgb(0, 0, 0);
}