#Title
{
    text-align: center;
}

#frame
{
    width: 1000px;
    margin:50px auto;
}

#ContentBox
{    
    width: 1000px;
    text-align: left;
}

.leftBox
{
    float:left;
    margin-bottom:20px;
    margin-left: 20px;
}

.rightBox
{
    float: right;
    margin-bottom:20px;
    margin-right: 20px;
}

#SubTitle
{
    color: rgb(0, 0, 0);
}

.LeftSubTitle
{
    float: left;
    margin-left: 50px;
}

.RightSubTitle
{
    float:right;
    margin-right: 50px;
}

#content
{
    margin: 80px 20px;
    padding: 0px 40px;
}


@media screen and (max-width:420px) {
    #frame
{
    width: 350px;
    margin:50px auto;
}

#Title
{
    text-align: center;
    margin-bottom: 50px;
}

#ContentBox
{    
    width: 350px;
    text-align: left;
}

.LeftSubTitle
{
    float: left;
    margin-left: 50px;
}

.RightSubTitle
{
    float:left;
    margin-left: 50px;
}

.leftBox
{
    float:left;
    margin-bottom:20px;
    margin: auto;
}

.rightBox
{
    float: left;
    margin-bottom:20px;
    margin: auto;
}
}