#Pic
{
    height: 500px;
    left: 0px;
    background-color: #20B1FF;
}

#NarBar
{
    height: 35px;
    left: 0px;
    background-color: #4A5257;

    display: flex;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    color: #000000;
}

#NarItem
{
    margin-left: 50px;
}