#BodyColor
{
    width: 100%;
    background: #78C2C4;
    background:url(../../img/勿忘草.jpg);
    padding: 0px;
    margin: 0px;
}

#Pic
{
    width: 100%;
    height: 500px;
    padding:0px;
    margin:0px;
    background-color: #000000;
    background:url(../../img/群青.jpg);
}

#Bar
{
    height: 35px;
    background-color: #4c82a3;
}

#NavBar
{
    width: 600px;
    margin:auto;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    color: #000000;
}

#NarItem
{
    width: 200px;
    margin: auto;
    color: #ffff;
    text-align: center;
    text-decoration:none;
}